<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>#!/usr/bin/env ruby
#
# Lookup current word as a tag name on whatwg.org
#
# The mapping below was generated using:
# ruby -e 'STDOUT &lt;&lt; "$tags = {\n" &lt;&lt; `curl -s http://www.whatwg.org/specs/web-apps/current-work/multipage/semantics.html`.scan(%r{&lt;dfn id="(.*?)"&gt;&lt;code&gt;(.*?)&lt;/code&gt;&lt;/dfn&gt;}).map { |e| "  \"#{e[1]}\"".ljust(14) + " =&gt; \"#{e[0]}\"" }.join(",\n") &lt;&lt; "\n}\n"'

$tags = {
  "html"       =&gt; "html",
  "manifest"   =&gt; "manifest",
  "head"       =&gt; "head",
  "title"      =&gt; "title1",
  "base"       =&gt; "base",
  "href"       =&gt; "href",
  "target"     =&gt; "target",
  "href"       =&gt; "href0",
  "target"     =&gt; "target0",
  "link"       =&gt; "link",
  "href"       =&gt; "href1",
  "rel"        =&gt; "rel",
  "media"      =&gt; "media0",
  "hreflang"   =&gt; "hreflang",
  "type"       =&gt; "type",
  "title"      =&gt; "title2",
  "href"       =&gt; "href2",
  "rel"        =&gt; "rel0",
  "media"      =&gt; "media1",
  "hreflang"   =&gt; "hreflang0",
  "type"       =&gt; "type0",
  "sizes"      =&gt; "sizes",
  "relList"    =&gt; "rellist",
  "disabled"   =&gt; "disabled",
  "meta"       =&gt; "meta0",
  "charset"    =&gt; "charset1",
  "content"    =&gt; "content1",
  "name"       =&gt; "name",
  "name"       =&gt; "name0",
  "content"    =&gt; "content2",
  "httpEquiv"  =&gt; "httpequiv",
  "http-equiv" =&gt; "http-equiv",
  "style"      =&gt; "style1",
  "type"       =&gt; "type1",
  "media"      =&gt; "media2",
  "scoped"     =&gt; "scoped",
  "title"      =&gt; "title3",
  "media"      =&gt; "media3",
  "type"       =&gt; "type2",
  "scoped"     =&gt; "scoped0",
  "disabled"   =&gt; "disabled0",
  "disabled"   =&gt; "disabled1",
  "body"       =&gt; "body0",
  "section"    =&gt; "section",
  "nav"        =&gt; "nav",
  "article"    =&gt; "article",
  "aside"      =&gt; "aside",
  "h1"         =&gt; "h1",
  "h2"         =&gt; "h2",
  "h3"         =&gt; "h3",
  "h4"         =&gt; "h4",
  "h5"         =&gt; "h5",
  "h6"         =&gt; "h6",
  "header"     =&gt; "header",
  "footer"     =&gt; "footer",
  "address"    =&gt; "address",
  "p"          =&gt; "p",
  "hr"         =&gt; "hr",
  "br"         =&gt; "br",
  "pre"        =&gt; "pre",
  "dialog"     =&gt; "dialog",
  "blockquote" =&gt; "blockquote",
  "cite"       =&gt; "cite",
  "cite"       =&gt; "cite0",
  "ol"         =&gt; "ol",
  "reversed"   =&gt; "reversed",
  "start"      =&gt; "start0",
  "reversed"   =&gt; "reversed0",
  "start"      =&gt; "start1",
  "ul"         =&gt; "ul",
  "li"         =&gt; "li",
  "value"      =&gt; "value",
  "dl"         =&gt; "dl",
  "dt"         =&gt; "dt",
  "dd"         =&gt; "dd"
}

def request_tag_name (default_tag = "body")
  res, tag = %x{ "$TM_SUPPORT_PATH/bin/CocoaDialog.app/Contents/MacOS/CocoaDialog" \
    inputbox --float --title 'Documentation for Tag' \
    --informative-text 'What tag would you like to lookup?' \
    --text '#{default_tag}' --button1 'Lookup' --button2 'Cancel' \
    --button3 'Show All Tags'
  }.split("\n")
  case res.to_i
    when 1 then $tags[tag.to_s] || "semantics.html"
    when 2 then abort "&lt;script&gt;window.close()&lt;/script&gt;"
    when 3 then "semantics.html"
  end
end

line, col = ENV["TM_CURRENT_LINE"].to_s, ENV["TM_LINE_INDEX"].to_i
tag = line =~ /\A.{0,#{col}}&lt;\s*(\w+)/ ? $1 : ENV["TM_CURRENT_WORD"].to_s

path = $tags[tag] || request_tag_name(tag)
url  = "http://www.whatwg.org/specs/web-apps/current-work/multipage/semantics.html#" + path
puts "&lt;meta http-equiv='Refresh' content='0;URL=#{url}'&gt;"
</string>
	<key>input</key>
	<string>none</string>
	<key>keyEquivalent</key>
	<string>^h</string>
	<key>name</key>
	<string>Documentation for Tag</string>
	<key>output</key>
	<string>showAsHTML</string>
	<key>scope</key>
	<string>text.html, text.html entity.name.tag</string>
	<key>uuid</key>
	<string>637CEA2B-578C-429C-BB74-30E8D42BFA22</string>
</dict>
</plist>
