<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>#!/usr/bin/env ruby
#
# Lookup current word as a tag name on whatwg.org
#
# The mapping below was generated using:
# ruby -e 'STDOUT &lt;&lt; "$tags = {\n" &lt;&lt; `curl -s http://www.whatwg.org/specs/web-apps/current-work/multipage/semantics.html`.scan(%r{&lt;dfn id="(.*?)"&gt;&lt;code&gt;(.*?)&lt;/code&gt;&lt;/dfn&gt;}).map { |e| "  \"#{e[1]}\"".ljust(14) + " =&gt; \"#{e[0]}\"" }.join(",\n") &lt;&lt; "\n}\n"'

$tags = {
"html"          =&gt;  "the-html",
"head"          =&gt;  "the-head",
"title"         =&gt;  "the-title0",
"base"          =&gt;  "the-base",
"link"          =&gt;  "the-link",
"meta"          =&gt;  "meta",
"style"         =&gt;  "the-style0",
"body"          =&gt;  "the-body",
"section"       =&gt;  "the-section",
"nav"           =&gt;  "the-nav",
"article"       =&gt;  "the-article",
"aside"         =&gt;  "the-aside",
"h1"            =&gt;  "the-h1",
"h2"            =&gt;  "the-h1",
"h3"            =&gt;  "the-h1",
"h4"            =&gt;  "the-h1",
"h5"            =&gt;  "the-h1",
"h6"            =&gt;  "the-h1",
"header"        =&gt;  "the-header",
"footer"        =&gt;  "the-footer",
"address"       =&gt;  "the-address",
"p"             =&gt;  "the-p",
"hr"            =&gt;  "the-hr",
"br"            =&gt;  "the-br",
"pre"           =&gt;  "the-pre",
"dialog"        =&gt;  "the-dialog",
"blockquote"    =&gt;  "the-blockquote",
"ol"            =&gt;  "the-ol",
"ul"            =&gt;  "the-ul",
"li"            =&gt;  "the-li",
"dl"            =&gt;  "the-dl",
"dt"            =&gt;  "the-dt",
"dd"            =&gt;  "the-dd",
"a"             =&gt;  "the-a",
"q"             =&gt;  "the-q",
"cite"          =&gt;  "the-cite",
"em"            =&gt;  "the-em",
"strong"        =&gt;  "the-strong",
"small"         =&gt;  "the-small",
"mark"          =&gt;  "the-mark",
"dfn"           =&gt;  "the-dfn",
"abbr"          =&gt;  "the-abbr",
"time"          =&gt;  "the-time",
"progress"      =&gt;  "the-progress",
"meter"         =&gt;  "the-meter",
"code"          =&gt;  "the-code",
"var"           =&gt;  "the-var",
"samp"          =&gt;  "the-samp",
"kbd"           =&gt;  "the-kbd",
"sub"           =&gt;  "the-sub",
"span"          =&gt;  "the-span",
"i"             =&gt;  "the-i",
"b"             =&gt;  "the-b",
"bdo"           =&gt;  "the-bdo",
"ruby"          =&gt;  "the-ruby",
"rt"            =&gt;  "the-rt",
"rp"            =&gt;  "the-rp",
"ins"           =&gt;  "the-ins",
"del"           =&gt;  "the-del",
"figure"        =&gt;  "the-figure",
"img"           =&gt;  "the-img",
"iframe"        =&gt;  "the-iframe",
"embed"         =&gt;  "the-embed",
"object"        =&gt;  "the-object",
"param"         =&gt;  "the-param",
"video"         =&gt;  "video",
"audio"         =&gt;  "audio",
"source"        =&gt;  "the-source",
"canvas"        =&gt;  "the-canvas",
"map"           =&gt;  "the-map",
"area"          =&gt;  "the-area",
"table"         =&gt;  "the-table",
"caption"       =&gt;  "the-caption",
"colgroup"      =&gt;  "the-colgroup",
"col"           =&gt;  "the-col",
"tbody"         =&gt;  "the-tbody",
"thead"         =&gt;  "the-thead",
"tfoot"         =&gt;  "the-tfoot",
"tr"            =&gt;  "the-tr",
"td"            =&gt;  "the-td",
"th"            =&gt;  "the-th",
"form"          =&gt;  "the-form",
"fieldset"      =&gt;  "the-fieldset",
"input"         =&gt;  "the-input",
"button"        =&gt;  "the-button",
"label"         =&gt;  "the-label",
"select"        =&gt;  "the-select",
"datalist"      =&gt;  "the-datalist",
"optgroup"      =&gt;  "the-optgroup",
"option"        =&gt;  "the-option",
"textarea"      =&gt;  "the-textarea",
"output"        =&gt;  "the-output",
"script"        =&gt;  "script",
"noscript"      =&gt;  "the-noscript",
"eventsource"   =&gt;  "the-eventsource",
"details"       =&gt;  "the-details",
"datagrid"      =&gt;  "datagrid",
"command"       =&gt;  "the-command",
"bb"            =&gt;  "the-bb",
"menu"          =&gt;  "menus",
"datatemplate"  =&gt;  "the-datatemplate",
"rule"          =&gt;  "the-rule",
"nest"          =&gt;  "the-nest",
"legend"        =&gt;  "the-legend",
"div"           =&gt;  "the-div"
}

def request_tag_name (default_tag = "body")
  res, tag = %x{ "$TM_SUPPORT_PATH/bin/CocoaDialog.app/Contents/MacOS/CocoaDialog" \
    inputbox --float --title 'Documentation for Tag' \
    --informative-text 'What tag would you like to lookup?' \
    --text '#{default_tag}' --button1 'Lookup' --button2 'Cancel' \
    --button3 'Show All Tags'
  }.split("\n")
  case res.to_i
    when 1 then $tags[tag.to_s] || "semantics.html"
    when 2 then abort "&lt;script&gt;window.close()&lt;/script&gt;"
    when 3 then "semantics.html"
  end
end

line, col = ENV["TM_CURRENT_LINE"].to_s, ENV["TM_LINE_INDEX"].to_i
tag = line =~ /\A.{0,#{col}}&lt;\s*(\w+)/ ? $1 : ENV["TM_CURRENT_WORD"].to_s

path = $tags[tag] || request_tag_name(tag)
url  = "http://www.whatwg.org/specs/web-apps/current-work/multipage/semantics.html#" + path
puts "&lt;meta http-equiv='Refresh' content='0;URL=#{url}'&gt;"
</string>
	<key>input</key>
	<string>none</string>
	<key>keyEquivalent</key>
	<string>^h</string>
	<key>name</key>
	<string>Lookup tag</string>
	<key>output</key>
	<string>showAsHTML</string>
	<key>scope</key>
	<string>text.html, text.html entity.name.tag</string>
	<key>uuid</key>
	<string>637CEA2B-578C-429C-BB74-30E8D42BFA22</string>
</dict>
</plist>
